In [2]:
from tests.utils import generate_random_dataframe
from src.dropbox_helper import dbx_helper
df = generate_random_dataframe(size_mb=.001)
dbx_helper.write_csv(df, '/output', 'test', 'hi.csv', index=False)
dbx_helper.read_csv('/output', 'test', 'hi.csv')

Uploaded 'hi.csv' to '/output/test/hi.csv'

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9
0,0.880329,0.235228,0.110476,0.160070,0.690727,0.316095,0.782585,0.279959,0.827529,0.451645
1,0.271534,0.090376,0.292016,0.050388,0.805085,0.929774,0.361887,0.061692,0.791843,0.961303
2,0.730601,0.464409,0.850901,0.979717,0.049698,0.111314,0.071659,0.319257,0.735487,0.651463
3,0.894064,0.850430,0.563819,0.410020,0.179713,0.028753,0.085787,0.278062,0.725672,0.867390
4,0.716616,0.400056,0.556272,0.971754,0.354159,0.972505,0.780613,0.714699,0.195445,0.142023

In [3]:
dbx_helper.list_files_in_folder('/output/test')

['hi.parquet', 'hi.csv']

In [4]:
dbx_helper.write_csv(df, '/output', 'test', 'hi.csv', index=False)
dbx_helper.read_csv('/output', 'test', 'hi.csv')

Uploaded 'hi.csv' to '/output/test/hi.csv'

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9
0,0.880329,0.235228,0.110476,0.160070,0.690727,0.316095,0.782585,0.279959,0.827529,0.451645
1,0.271534,0.090376,0.292016,0.050388,0.805085,0.929774,0.361887,0.061692,0.791843,0.961303
2,0.730601,0.464409,0.850901,0.979717,0.049698,0.111314,0.071659,0.319257,0.735487,0.651463
3,0.894064,0.850430,0.563819,0.410020,0.179713,0.028753,0.085787,0.278062,0.725672,0.867390
4,0.716616,0.400056,0.556272,0.971754,0.354159,0.972505,0.780613,0.714699,0.195445,0.142023