In [2]:
from tests.utils import generate_random_dataframe
from src.dropbox_helper import dbx_helper
df = generate_random_dataframe(size_mb=.001)
dbx_helper.write_csv(df, '/output', 'test', 'hi.csv', index=False)
dbx_helper.read_csv('/output', 'test', 'hi.csv')

Uploaded 'hi.csv' to '/output/test/hi.csv'

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9
0,0.470629,0.778226,0.893079,0.394852,0.385093,0.788374,0.623631,0.033780,0.581485,0.792683
1,0.236899,0.862644,0.899787,0.042900,0.081688,0.087949,0.313870,0.429555,0.309740,0.415286
2,0.706513,0.904032,0.393310,0.098133,0.727321,0.419830,0.671727,0.542061,0.889771,0.734447
3,0.066185,0.861456,0.298794,0.842234,0.408520,0.667157,0.613736,0.101179,0.523356,0.680719
4,0.089784,0.896477,0.120336,0.525976,0.146589,0.581029,0.536416,0.971096,0.606371,0.981293

In [4]:
dbx_helper.write_csv(df, '/output', 'test', 'hi.csv', index=False)
dbx_helper.read_csv('/output', 'test', 'hi.csv')

Uploaded 'hi.csv' to '/output/test/hi.csv'

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9
0,0.880329,0.235228,0.110476,0.160070,0.690727,0.316095,0.782585,0.279959,0.827529,0.451645
1,0.271534,0.090376,0.292016,0.050388,0.805085,0.929774,0.361887,0.061692,0.791843,0.961303
2,0.730601,0.464409,0.850901,0.979717,0.049698,0.111314,0.071659,0.319257,0.735487,0.651463
3,0.894064,0.850430,0.563819,0.410020,0.179713,0.028753,0.085787,0.278062,0.725672,0.867390
4,0.716616,0.400056,0.556272,0.971754,0.354159,0.972505,0.780613,0.714699,0.195445,0.142023